<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/user/layout/header::header}"></head>
<body>
<!-- Responsive navbar-->
<!-- Navigation-->
<nav th:replace="~{/user/layout/navbar::navbar}"></nav>

<br/><br/><br/>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card p-0">
            <div class="card-header">
                <h2 class="text-center">Registration</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully registered our app!
                </div>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/register}"
                        th:object="${user}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Họ và Tên</label>
                        <input
                                class="form-control"
                                placeholder="Họ và tên"
                                th:field="*{name}"
                                type="text"
                        />
                        <p th:errors="*{name}" class="text-danger"
                           th:if="${#fields.hasErrors('name')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Enter email address"
                                th:field="*{email}"
                                type="email"
                        />
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Số Điện Thoại</label>
                        <input
                                class="form-control"
                                id="phoneNumber"
                                name="phoneNumber"
                                placeholder="Số điện thoại"
                                th:field="*{phoneNumber}"
                                type="text"
                        />
                        <p th:errors="*{phoneNumber}" class="text-danger"
                           th:if="${#fields.hasErrors('phoneNumber')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Password</label>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Enter password"
                                th:field="*{password}"
                                type="password"
                        />
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}"></p>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-info mx-1" type="submit" name="save" value="Đăng ký">
                        <input class="btn btn-danger mx-1" type="submit" name="cancel" value="Hủy">
                        <span>Bạn đã có tài khoản? <a class="text-info" th:href="@{/login}">Đăng nhập tại đây</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<div th:replace="~{user/layout/footer::footer}"></div>

</body>
</html>
