<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{/admin/layout/header::adminHeader}"></head>
<body class="sb-nav-fixed">

<!--  place navBar here-->
<div th:insert="~{admin/layout/navBar::adminNavbar}"></div>
<div id="layoutSidenav">
    <!-- place sidebar here-->
    <div th:insert="~{admin/layout/sideBar::adminSidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Update bài viết</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Update Bài viết</li>
                </ol>
                <form class="row g-3" method="post" id="updateArticleForm"
                      role="form" th:method="post" th:action="@{/admin/article}" th:object="${article}"
                      enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Tiêu đề bài viết </label>
                        <input type="text" th:field="*{title}" class="form-control" id="title"
                               placeholder="Tiêu đề bài viết">
                        <p th:if="${#fields.hasErrors('title')}" th:errorclass="text-danger" th:errors="*{title}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Tên bút danh/ tác giả</label>
                        <input type="text" th:field="*{author}" class="form-control" id="author"
                               placeholder="Tên tác giá/ bút danh tùy chọn">
                        <p th:if="${#fields.hasErrors('author')}" th:errorclass="text-danger"
                           th:errors="*{author}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="shortDescription" class="form-label">Mô tả ngắn </label>
                        <span class="small text-muted">(Mục này sẽ xuất hiện cùng tiêu đề bài viết)</span>
                        <textarea th:field="*{shortDescription}" class="form-control" id="shortDescription"
                                  placeholder="Mô tả ngắn"></textarea>
                        <p th:if="${#fields.hasErrors('shortDescription')}" th:errorclass="text-danger"
                           th:errors="*{shortDescription}"></p>
                    </div>

                    <!--                    <div class="mb-3">-->
                    <!--                        <label for="category" class="form-label"> Phân Loại </label>-->
                    <!--                        <select id="category" class="form-select" aria-label="Default select example"-->
                    <!--                                th:field="*{category}">-->
                    <!--                            <option th:each="category : ${categoryList}" th:value="${category.id}"-->
                    <!--                                    th:text="${category.name}">-->
                    <!--                        </select>-->
                    <!--                        <p th:if="${#fields.hasErrors('category')}" th:errorclass="text-danger"-->
                    <!--                           th:errors="*{category}"></p>-->
                    <!--                    </div>-->
                    <div th:if="${article?.getSubContentList() == null || article?.getSubContentList()?.size() == 0}"
                         class="mb-3">
                        <label for="addImageAndSubContent1" class="form-label">Chọn ảnh cho bài viết</label>
                        <input id="addImageAndSubContent1" th:onchange="|addImageAndSubContent()|" class="form-control"
                               type="file" multiple name="imageFiles"
                               accept="image/*">
                    </div>
                    <div th:if="${article?.getSubContentList() != null && article?.getSubContentList()?.size() > 0}"
                         class="mb-3">
                        <!-- Image section start-->
                        <div class="container px-4 px-lg-5 my-5"
                             th:each="subContent, index : ${article.getSubContentList()}">
                            <!-- Image info start-->
                            <div th:if="${subContent.getImage() != null}"
                                 class="row gx-4 gx-lg-5 align-items-center mb-3">
                                <div class="col-md-6">
                                    <img class="card-img-top mb-5 mb-md-0 w-100"
                                         th:src="${subContent.getImage().getImageUrl()}" alt="..."/></div>
                                <div class="col-md-6">
                                    <p class="lead">
                                    <div class="mb-3">
                                        <label class="form-label">Mô tả ảnh</label>
                                        <input class="form-control" rows="3"
                                               th:field="*{subContentList[__${index.index}__].image.description}">
                                    </div>
                                    </p>
                                    <p class="lead">
                                        <button type="button" class="btn btn-outline-danger"
                                                th:if="${!subContent.getImage().isAvatar()}"
                                                th:onclick="|setImageAsAvatar(${index.index})|">Set Avatar
                                        </button>
                                        <button type="button" class="btn btn-outline-danger"
                                                th:if="${subContent.getImage().isAvatar()}"
                                                th:onclick="|removeImageFromAvatar(${index.index})|">Hủy Avatar
                                        </button>
                                        <button type="button" class="btn btn-outline-danger"
                                                th:onclick="|deleteImage(${index.index})|">Xóa ảnh
                                        </button>
                                        <button type="button" class="btn btn-outline-danger"
                                                th:onclick="|deleteSubContent(${index.index})|">Xóa Ảnh Và Nội Dung
                                        </button>
                                    </p>
                                </div>
                            </div>
                            <div th:if="${subContent.getImage() == null}"
                                 class="row gx-4 gx-lg-5 align-items-center mb-3">
                                <button type="button" class="mb-3 btn btn-outline-danger"
                                        th:onclick="|deleteSubContent(${index.index})|">Xóa Nội Dung
                                </button>
                                <input th:onchange="|addImage(${index.index})|" class="mb-3 form-control" type="file"
                                       name="imageFile" accept="image/*">
                            </div>
                            <!-- Image info end-->
                            <!-- SubContent start-->
                            <div class="row col-12">
                                <div class="mb-3">
                                    <label class="form-label">Tiêu đề</label>
                                    <textarea class="form-control" rows="3"
                                              th:field="*{subContentList[__${index.index}__].title}"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tiêu đề phụ</label>
                                    <textarea class="form-control" rows="3"
                                              th:field="*{subContentList[__${index.index}__].subTitle}"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Nội dung mô tả chi tiết 1</label>
                                    <textarea class="form-control"
                                              th:field="*{subContentList[__${index.index}__].content1}" rows="5">
                                    </textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Nội dung mô tả chi tiết 2</label>
                                    <textarea class="form-control"
                                              th:field="*{subContentList[__${index.index}__].content2}" rows="5">
                                    </textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Nội dung mô tả chi tiết 3</label>
                                    <textarea class="form-control"
                                              th:field="*{subContentList[__${index.index}__].content3}" rows="5">
                                    </textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Ghi Chú</label>
                                    <input class="form-control" th:field="*{subContentList[__${index.index}__].note}">
                                </div>
                            </div>
                            <!-- SubContent end-->
                        </div>
                        <!-- Image section end-->

                        <label for="addMoreSubContent" class="btn btn-outline-primary">Thêm ảnh và mô tả</label>
                        <input id="addMoreSubContent" th:onchange="|addImageAndSubContent()|" class="form-control"
                               type="file"
                               multiple name="imageFiles"
                               accept="image/*" style="visibility:hidden;">
                    </div>
                    <div class="mb-3">
                        <label for="note" class="form-label">Ghi chú</label>
                        <p class="small">Mục này sẽ xuất hiện dưới cùng bài viết</p>
                        <textarea class="form-control" id="note" th:field="*{note}"
                                  rows="3"></textarea>
                        <p th:if="${#fields.hasErrors('note')}" th:errorclass="text-danger"
                           th:errors="*{note}"></p>
                    </div>
                    <div class="col-auto">
                        <input type="submit" name="update" class="btn btn-primary mb-3" value="Update">
                        <input type="submit" name="cancelEdit" class="btn btn-danger mb-3 mx-3" value="Cancel">
                    </div>
                </form>
            </div>
        </main>
        <!--  footer here-->
        <div th:insert="~{admin/layout/footer::adminFooter}"></div>
    </div>
</div>
<div th:insert="~{ admin/layout/scriptSource::scriptSource}"></div>
<script>

    function addImageAndSubContent() {
        let form = document.getElementById('updateArticleForm');
        let action = "/admin/article/addImageAndSubContent";
        form.setAttribute('action', action);
        form.submit();
    }

    function addImage(subContentIndex) {
        let form = document.getElementById('updateArticleForm');
        let action = "/admin/article/addImage/" + subContentIndex;
        form.setAttribute('action', action);
        form.submit();
    }

    function updateStatusAction(actionName, id) {
        let form = document.getElementById('updateArticleForm');

        let action = form.getAttribute('action');
        action = "/admin/article/" + actionName + '/' + id;
        form.setAttribute('action', action);

        form.submit();
    }

    function deleteImage(subContentIndex) {
        let form = document.getElementById('updateArticleForm');
        let action = "/admin/article/deleteImage/" + subContentIndex;
        form.setAttribute('action', action);
        form.submit();
    }

    function setImageAsAvatar(subContentIndex) {
        let form = document.getElementById('updateArticleForm');
        let action = "/admin/article/setImageAsAvatar/" + subContentIndex;
        form.setAttribute('action', action);
        form.submit();
    }

    function removeImageFromAvatar(subContentIndex) {
        let form = document.getElementById('updateArticleForm');
        let action = "/admin/article/removeImageFromAvatar/" + subContentIndex;
        form.setAttribute('action', action);
        form.submit();
    }

    function deleteSubContent(subContentIndex) {
        let form = document.getElementById('updateArticleForm');
        let action = "/admin/article/deleteSubContent/" + subContentIndex;
        form.setAttribute('action', action);
        form.submit();
    }



</script>
</body>
</html>

