<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/user/layout/header::header}"></head>
<body>
<!-- Navigation-->
<nav th:replace="~{/user/layout/navbar::navbar}"></nav>

<div class="container">
    <section class="bg-light">
        <div class="row gx-4 gx-lg-5 p-3">
            <div class="col-md-6 overflow-hidden" style="height: 30rem;">
                <img th:if="${product.getAvatar() != null}"
                     class="card-img-top mb-5 mb-md-0 w-100 h-100"
                     style="object-fit: cover;"
                     th:src="${product.getAvatar().getImageUrl()}" alt="..."/>
            </div>
            <div class="col-md-6 text-justify" style="height: 30rem;">
                <div class="overflow-hidden" style="height: 25rem;">
                    <div class="py-1">
                        <a class="small mb-1 text-muted" th:href="|/category/${product.getCategory().getId()}|"
                           th:text="${product.getCategory().getName()}"></a>
                    </div>
                    <div class="py-1 fs-5 fw-bolder"><span th:text="${product.getName()}"></span></div>
                    <div class="small  py-1 mb-1 text-muted"  th:if="${product.getOldPrice() != null}">
                        <span>Giá cũ:&emsp; </span>
                        <span class="text-decoration-line-through"
                              th:text="${#numbers.formatInteger(product.getOldPrice(), 3, 'COMMA')}"></span>
                        <span>VNĐ</span>
                        <br>
                    </div>
                    <div class="py-2 text-danger mb-3">
                        <span class="my-3">Giá bán:&emsp;</span>
                        <span class="fw-bold"
                              th:text="${#numbers.formatInteger(product.getCurrentPrice(), 3, 'COMMA')}">
                                        </span>
                        <span>&nbsp VNĐ/</span><span th:text="${product.getUnit()}"></span>
                    </div>
                    <p class="small" th:text="${product.getSubDescription_1()}"></p>
                    <p class="small" th:text="${product.getSubDescription_2()}"></p>
                    <p class="small" th:text="${product.getSubDescription_3()}"></p>
                </div>
                <form th:action="'/cart/add'" method="post">
                    <div class="bottom-controls" th:if="${product.getStatus() != 4}">
                        <input class="form-control text-center me-3" id="quantity" type="number" value="1"
                               name="quantity" style="width: 5rem" min="1"/>
                        <input hidden="hidden" class="form-control text-center me-3" id="productId" type="number" th:value="${product.getId()}"
                               name="productId" style="width: 5rem"/>
                        <button type="submit" class="btn btn-outline-dark" id="add-to-card">
                            <i class="bi-cart-fill me-1"></i>
                                Thêm vào giỏ hàng
                        </button>
                        <a href="/cart" class="btn btn-danger">
                            <i class="bi-cart-fill me-1"></i>
                            Mua ngay
                        </a>
                    </div>
                </form>
                <div class="bottom-controls" th:if="${product.getStatus() == 4}">
                    <button type="button" class="btn btn-warning flex-shrink-0">
                        <i class="bi-cart-fill me-1"></i>
                        Sản phẩm tạm thời hết hàng
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Product Details section-->
<div class="container text-justify py-3">
    <h2 class="section-title position-relative text-uppercase my-3">
        <span class="bg-secondary pr-3">Chi Tiết Sản Phẩm</span>
    </h2>
    <section class="p-5 bg-light">
        <div th:if="${product.getSubContentList().size() > 0}" th:each="subContent : ${product.subContentList}">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div th:if="${subContent.image != null }"
                     class="col-12 mb-3 d-flex justify-content-center align-items-center">
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <img class="card-img-top mb-md-0 w-100"
                             th:src="${subContent?.image?.getImageUrl()}" alt="..."/>
                    </div>
                </div>
                <div class="col-12 mb-3" th:if="${subContent.image != null }">
                    <div class="col-12 font-italic text-center">
                        <span class="small" th:text="${subContent.image?.description}"></span>
                    </div>
                    <div th:if="${subContent.image != null }" class="col-4">
                    </div>
                </div>
                <div th:if="${!#strings.isEmpty(subContent.title)}" class="col-12 mb-3">
                    <h4 th:text="${subContent.title}"></h4>
                </div>
                <div th:if="${!#strings.isEmpty(subContent.subTitle)}" class="col-12 mb-3">
                    <h5 th:text="${subContent.subTitle}"></h5>
                </div>
                <div th:if="${!#strings.isEmpty(subContent.content1)}" class="col-12">
                    <p th:text="${subContent.content1}"></p>
                </div>
                <div th:if="${!#strings.isEmpty(subContent.content2)}" class="col-12">
                    <p th:text="${subContent.content2}"></p>
                </div>
                <div th:if="${!#strings.isEmpty(subContent.content3)}" class="col-12">
                    <p th:text="${subContent.content3}"></p>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- Related items section-->
<div class="container pt-5 pb-3">
    <h3 class="section-title position-relative text-uppercase mb-4"><span class="bg-secondary pr-3">Sản Phẩm Bạn Có Thể Quan Tâm</span>
    </h3>
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1" th:each="product : ${relatedProduct}">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden p-2" style="height: 15rem">
                    <a th:href="'/product/show/'+${product.getId()}">
                        <div class="badge bg-danger text-white position-absolute"
                             style="top: 1rem; right: 1rem; z-index: 1;"
                             th:if="${product.getStatus() == 5}">Giảm giá
                        </div>
                        <div class="badge bg-warning text-white position-absolute"
                             style="top: 1rem; right: 1rem; z-index: 1;"
                             th:if="${product.getStatus() == 4}">Hết Hàng
                        </div>
                        <!-- Product image-->
                        <img class="img-fluid w-100 h-100" th:src="${product.getAvatar().getImageUrl()}" alt=""
                             style="object-fit: cover;">
                    </a>
                    <div class="product-action">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" th:href="'/product/show/'+${product.getId()}">
                                Xem Chi Tiết</a>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; height: 1px; background: rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);"></div>
                <div class="text-center py-2" style="height: 8rem;">
                    <div style="height: 3rem;">
                        <a class="h6 text-decoration-none limited-span-2-line"
                           th:href="'/product/show/'+${product.getId()}"
                           th:text="${product.getName()}"
                           th:title="${product.getName()}">Product Name</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h6>
                            <span style="color: #ff3259">VNĐ&nbsp;</span>
                            <span style="color: #ff3259"
                                  th:text="${#numbers.formatInteger(product.getCurrentPrice(), 3, 'COMMA')}">current price
                            </span>
                        </h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <h6 class="text-muted ml-2" th:if="${!#strings.isEmpty(product.getOldPrice())}">
                            <span>Giá cũ:&nbsp;</span>
                            <del>
                                <span th:text="${#numbers.formatInteger(product.getOldPrice(), 3, 'COMMA')}">old price</span>
                            </del>
                            </del>
                        </h6>
                    </div>
                </div>
                </hr>
            </div>
        </div>
    </div>
</div>


<!-- Back to Top -->
<a href="#" class="btn btn-info back-to-top">TOP&nbsp;<i class="fa fa-angle-double-up"></i></a>

<!-- Footer-->
<div class="container">
    <div th:replace="~{user/layout/footer::footer}"></div>
</div>

<!-- Modal -->
<!--<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                ...-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Understood</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script src="/js/productShow.js"></script>
</body>
</html>
