<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/user/layout/header::header}"></head>
<body>
<!-- Navigation-->
<nav th:replace="~{/user/layout/navbar::navbar}"></nav>

<!-- Product Details section-->
<section class="py-5 bg-light">
    <div class="container">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img th:if="${product.getAvatar() != null}"
                     class="card-img-top mb-5 mb-md-0 w-100"
                     th:src="${product.getAvatar().getImageUrl()}" alt="..."/>
            </div>
            <div class="col-md-6">
                <div class="small mb-1" th:text="${product.getCategory().getName()}"></div>
                <h5 class="display-5 fw-bolder"><span th:text="${product.getName()}"></span></h5>
                <div class="fs-5 mb-1 text-muted">
                    <span class="py-5">Giá cũ:&emsp; </span>
                    <span class="text-decoration-line-through"
                          th:text="${#numbers.formatInteger(product.getOldPrice(), 3, 'COMMA')}"></span>
                    <span>VNĐ</span>
                    <br>
                </div>
                <div class="fs-5 mb-5 text-danger">
                    <span class="my-3">Giá Khuyến Mãi:&emsp;</span>
                    <span class="fw-bold"
                          th:text="${#numbers.formatInteger(product.getCurrentPrice(), 3, 'COMMA')}">
                                    </span>
                    <span>&nbsp VNĐ/</span>
                    <span th:text="${product.getUnit()}"></span>
                </div>
                <p class="lead" th:text="${product.getSubDescription_1()}"></p>
                <p class="lead" th:text="${product.getSubDescription_2()}"></p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="text" value="1"
                           style="max-width: 3rem"/>
                    <a class="btn btn-outline-dark flex-shrink-0" th:href="'/order/new/' + ${product.getId()}">
                        <i class="bi-cart-fill me-1"></i>
                        Đặt Mua Hàng
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Thông Tin Chi Tiết Sản Phẩm</span>
    </h2>
</div>

<!-- Product Details section-->
<section class="py-1 bg-light">
    <div class="container px-4 px-lg-5 my-5" th:if="${!#strings.isEmpty(product.getSubDescription_3())}">
        <p class="lead mt-5" th:text="${product.getSubDescription_3()}"></p>
    </div>
    <div th:if="${product.getSubContentList().size() > 0}" class="container px-4 px-lg-5 my-5"
         th:each="subContent : ${product.subContentList}">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div th:if="${subContent.image != null }" class="col-8 mb-3">
                <img class="card-img-top mb-5 mb-md-0 w-100"
                     th:src="${subContent?.image?.getImageUrl()}" alt="..."/>
            </div>
            <div class="col-12 mb-3" th:if="${subContent.image != null }" >
                <div class="col-8 font-italic">
                    <span class="small" th:text="${subContent.image?.description}"></span>
                </div>
                <div th:if="${subContent.image != null }" class="col-4">
                </div>
            </div>
            <div th:if="${!#strings.isEmpty(subContent.title)}" class="col-12 mb-3">
                <h4 th:text="${subContent.title}"></h4>
            </div>
            <div th:if="${!#strings.isEmpty(subContent.subTitle)}" class="col-12 mb-3">
                <h5 th:text="${subContent.subTitle}"></h5>
            </div>
            <div th:if="${!#strings.isEmpty(subContent.content1)}" class="col-12">
                <p th:text="${subContent.content1}"></p>
            </div>
            <div th:if="${!#strings.isEmpty(subContent.content2)}" class="col-12">
                <p th:text="${subContent.content2}"></p>
            </div>
            <div th:if="${!#strings.isEmpty(subContent.content3)}" class="col-12">
                <p th:text="${subContent.content3}"></p>
            </div>
        </div>
    </div>
</section>


<!-- Related items section-->
<div class="container pt-5 pb-3">
    <h3 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sản Phẩm Bạn Có Thể Quan Tâm</span>
    </h3>
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" th:each="product : ${relatedProduct}">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <a th:href="'/product/show/'+${product.getId()}">
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem"
                             th:if="${product.getStatus() == 5}">Giảm giá
                        </div>
                        <!-- Product image-->
                        <img class="img-fluid w-100" th:src="${product.getAvatar().getImageUrl()}" alt="">
                    </a>

                    <div class="product-action">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto"
                               th:href="'/product/show/'+${product.getId()}">
                                Xem Chi Tiết</a>
                        </div>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h5 text-decoration-none text-uppercase"
                       th:href="'/product/show/'+${product.getId()}"
                       th:text="${product.getName()}">Product Name</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h6>
                            <span>VNĐ&nbsp;</span>
                            <span th:text="${#numbers.formatInteger(product.getCurrentPrice(), 3, 'COMMA')}">current price
                            </span>
                        </h6>
                        <h6 class="text-muted ml-2" th:if="${!#strings.isEmpty(product.getOldPrice())}">
                            <del>
                                <span th:text="${#numbers.formatInteger(product.getOldPrice(), 3, 'COMMA')}">old price</span>
                            </del>
                        </h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer th:replace="~{user/layout/footer::footer}"></footer>
</body>
</html>
