<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/user/layout/header::header}"></head>
<body id="page-top">
<!-- Navigation-->
<nav th:replace="~{/user/layout/navbar::navbar}"></nav>
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/img/01.jpg" alt="..."/></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">LONA SHOP</h2>
                    <p> Đợc hình thành với sứ mệnh mang tới người tiêu dùng Việt Nam các sản phẩm tốt nhất từ thị trường
                        Nhật Bản,
                        chúng tôi chuyên hàng Nhật nội địa xách tay, các sản phẩm chính hãng tới từ Nhật Bản.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/img/02.jpg" alt="..."/></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">UY TÍN</h2>
                    <p>Đến với LONA SHOP bạn sẽ yên tâm về dịch vụ chăm sóc khách hàng của chúng tôi.
                        với đội ngũ chăm sóc khách hàng chuyên nghiệp chúng tôi luôn mang tới hài lòng cho khách
                        hàng</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/img/03.jpg" alt="..."/></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">CHẤT LƯỢNG</h2>
                    <p>Tất cả các sản phẩm của Lona Shop đều được đảm bảo hàng chính hãng với giá cả hợp lý. Điều đó làm
                        nên thương hiệu của LONA SHOP hôm nay</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 4-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="/img/02.jpg" alt="..."/></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">LONA SHOP</h2>
                    <p>Những gì bạn cần chúng tôi có.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Back to Top -->
<a href="#" class="btn btn-info back-to-top">TOP&nbsp;<i class="fa fa-angle-double-up"></i></a>

<!-- Footer-->
<div th:replace="~{user/layout/footer::footer}"></div>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>
