<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/user/layout/header::header}"></head>
<body id="page-top">
<!-- Navigation-->
<nav th:replace="~{/user/layout/navbar::navbar}"></nav>
<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" th:src="@{/assets/img/01.jpg}" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Nước Mắm Hải Hà</h2>
          <p>Với sứ mệnh phát triển ngành nghề nước mắm truyền thống, chúng tôi luôn đưa ra những sản phẩm có chất lượng cao nhất cho người tiêu dùng Việt Nam.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5"><img class="img-fluid rounded-circle" src="/assets/img/02.jpg" alt="..." /></div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Sản phẩm sạch quyết định thương hiệu</h2>
          <p>Chúng tôi đảm bảo đưa ra những sản phẩm sạch, không chất bảo quản tới người tiêu dùng.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" src="/assets/img/03.jpg" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Lấy "Tâm Tín" làm phương châm phát triển</h2>
          <p>Chúng tôi luôn lấy cái tâm làm nghề và chữ tín với khách hàng làm nền móng cho sự phát triển.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 4-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5"><img class="img-fluid rounded-circle" src="/assets/img/02.jpg" alt="..." /></div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Tri ân</h2>
          <p>Sự tin tưởng của quý khách hàng chính là tài sản quý giá nhất của chúng tôi. .</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer th:replace="~{/user/layout/footer::footer}"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
