<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/user/layout/header::header}"></head>
<body>
<!-- Responsive navbar-->
<!-- Navigation-->
<div th:replace="~{/user/layout/navbar::navbar}"></div>

<!-- Carousel Start -->
<div class="container mb-3" th:if="${#strings.isEmpty(pageMode) || pageMode != '4'}">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li th:each="cover, i : ${mainCoverList}" data-target="#header-carousel"
                        th:data-slide-to="${i.index}" th:classappend="${i.index == 0 ? 'active' : ''}"></li>
                </ol>
                <div class="carousel-inner">
                    <div th:each="cover, index : ${mainCoverList}"
                         th:classappend="${index.index == 0} ? 'carousel-item position-relative active' : 'carousel-item position-relative'"
                         style="height: 30rem;">
                        <img class="position-absolute w-100 h-100" th:src="${cover.getImage().getImageUrl()}"
                             style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown"
                                    th:text="${cover.getTitle()}">Cover Title</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn"
                                   th:text="${cover.getDescription()}">Cover Description</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                   th:href="${cover.getTargetLink()}">Xem Ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div th:each="cover, index : ${subCoverList}" th:classappend="${index.index == 0 ? 'pb-2' : 'pt-2'}">
                <div class="product-offer" style="height: 14.5rem;">
                    <img class="img-fluid" th:src="${cover.getImage()?.getImageUrl()}" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase" th:text="${cover.getDescription()}">Cover Description</h6>
                        <h3 class="text-white mb-3" th:text="${cover.getTitle()}">Cover Title</h3>
                        <a th:href="${cover.getTargetLink()}" class="btn btn-info">Xem Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Featured Start -->
<div class="container pt-5" th:if="${#strings.isEmpty(pageMode) || pageMode != '4'}">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-4 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-info m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Chính Hãng</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-4 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-info m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Ship Toàn Quốc</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-4 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-info m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-4 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-info m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->


<!-- Categories Start -->
<div class="container pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
            class="bg-secondary pr-3">Danh Mục</span></h2>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6" th:each="category : ${categoryList}">
            <a class="text-decoration-none" th:href="|/category/${category.id}|">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 3rem; height: 3rem; overflow: hidden;display: flex;">
                        <img class="img-fluid" th:src="${category.getImage.getImageUrl()}" alt=""
                             style="width: 100%;height: 100%; object-fit: cover;">
                    </div>
                    <div class="flex-fill pl-3">
                        <h6 th:text="${category.getName()}">Category Name</h6>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Categories End -->

<!-- Products Start -->
<div class="container pt-5 pb-3" th:id="${pageMode == '4' ? 'scrollTarget' : ''}">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
            class="bg-secondary pr-3">Sản Phẩm</span>
    </h2>
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-1" th:each="product : ${productList}">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden p-2" style="height: 15rem">
                    <a th:href="'/product/show/'+${product.getId()}">
                        <div class="badge bg-danger text-white position-absolute"
                             style="top: 1rem; right: 1rem; z-index: 1;"
                             th:if="${product.getStatus() == 5}">Giảm giá
                        </div>
                        <div class="badge bg-warning text-white position-absolute"
                             style="top: 1rem; right: 1rem; z-index: 1;"
                             th:if="${product.getStatus() == 4}">Hết Hàng
                        </div>
                        <!-- Product image-->
                        <img class="img-fluid w-100 h-100" th:src="${product.getAvatar().getImageUrl()}" alt=""
                             style="object-fit: cover;">
                    </a>
                    <div class="product-action">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" th:href="'/product/show/'+${product.getId()}">
                                Xem Chi Tiết</a>
                        </div>
                    </div>
                </div>
                <div style="width: 100%; height: 1px; background: rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);"></div>
                <div class="text-center py-2" style="height: 8rem;">
                    <div style="height: 3rem;">
                        <a class="h6 text-decoration-none limited-span-2-line"
                           th:href="'/product/show/'+${product.getId()}"
                           th:text="${product.getName()}"
                           th:title="${product.getName()}">Product Name</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h6>
                            <span style="color: #ff3259">VNĐ&nbsp;</span>
                            <span style="color: #ff3259"
                                  th:text="${#numbers.formatInteger(product.getCurrentPrice(), 3, 'COMMA')}">current price
                            </span>
                        </h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <h6 class="text-muted ml-2" th:if="${!#strings.isEmpty(product.getOldPrice())}">
                            <span>Giá cũ:&nbsp;</span>
                            <del>
                                <span th:text="${#numbers.formatInteger(product.getOldPrice(), 3, 'COMMA')}">old price</span>
                            </del>
                            </del>
                        </h6>
                    </div>
                </div>
                </hr>
            </div>
            <div class="row">
                <div th:if="${productList?.size() == 0}" class=" col-12 text-center small text-mute mx-5">
                    Không tìm thấy sản phẩm nào, xin vui lòng kiểm tra lại.
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->

    <!-- Blog Start -->
    <div class="container pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
                class="bg-secondary pr-3">Blog</span>
        </h2>
        <div class="row px-xl-5">
            <!--            Blog Main start-->
            <div class="col-lg-8 col-sm-12 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="position-relative overflow-hidden d-flex align-items-center justify-content-center"
                         style="height: 25rem; overflow: hidden;display: flex;">
                        <a th:href="|/blog/show/${mainArticle.getId()}|">
                            <img class="img-fluid" style="width: 100%;height: 100%; object-fit: cover;"
                                 th:src="${mainArticle.getAvatar().getImageUrl()}" alt="">
                        </a>
                    </div>
                    <div class="p-2">
                        <a class="h5 text-decoration-none limited-span-1-line"
                           th:href="|/blog/show/${mainArticle.getId()}|"
                           th:text="${mainArticle.getTitle()}"
                           style="height: 1.5rem;"
                        >Blog title</a>
                        <div class="d-flex align-items-center mt-2 " style="height: 4.5rem;">
                            <p class="card-text limited-span-3-line"
                               th:text="${mainArticle.getShortDescription()}">Blog
                                short
                                description</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--            Blog Main End-->

            <!--            Blog side-->
            <div class="col-lg-4 col-sm-12 pb-1">
                <div class="product-item bg-light pb-2">
                    <div class="position-relative overflow-hidden d-flex align-items-center justify-content-center"
                         style="height: 10rem; overflow: hidden;display: flex;">
                        <a th:href="|/blog/show/${mainArticle.getId()}|">
                            <img class="img-fluid" style="width: 100%;height: 100%; object-fit: cover;"
                                 th:src="${mainArticle.getAvatar().getImageUrl()}" alt="">
                        </a>
                    </div>
                    <div class="p-2">
                        <a class="h5 text-decoration-none limited-span-1-line" style="height: 1.5rem;"
                           th:href="|/blog/show/${mainArticle.getId()}|"
                           th:text="${mainArticle.getTitle()}">Blog title</a>
                        <div class="d-flex align-items-center justify-content-center mt-2 " style="height: 3rem;">
                            <p class="card-text limited-span-2-line"
                               th:text="${mainArticle.getShortDescription()}">
                                Blog short description
                            </p>
                        </div>
                    </div>
                </div>
                <div class="product-item bg-light mb-4">
                    <div class="position-relative overflow-hidden d-flex align-items-center justify-content-center"
                         style="height: 10rem; overflow: hidden;display: flex;">
                        <a th:href="|/blog/show/${mainArticle.getId()}|">
                            <img class="img-fluid" style="width: 100%;height: 100%; object-fit: cover;"
                                 th:src="${mainArticle.getAvatar().getImageUrl()}" alt="">
                        </a>
                    </div>
                    <div class="p-2">
                        <a class="h5 text-decoration-none limited-span-1-line" style="height: 1.5rem;"
                           th:href="|/blog/show/${mainArticle.getId()}|"
                           th:text="${mainArticle.getTitle()}">Blog title</a>
                        <div class="d-flex align-items-center justify-content-center mt-2" style="height: 3rem;">
                            <p class="card-text limited-span-2-line"
                               th:text="${mainArticle.getShortDescription()}">
                                Blog short description
                            </p>
                        </div>
                    </div>
                </div>
                <!--                Blog side end-->

            </div>

            <div class="col-lg-6 col-sm-12 pb-1" th:each="article : ${articleList}">
                <div class="product-item bg-light mb-4">
                    <div class="position-relative overflow-hidden"
                         style="height: 20rem; overflow: hidden;display: flex;">
                        <a th:href="|/blog/show/${article.getId()}|">
                            <img class="img-fluid" style="object-fit: cover;height:20rem;width:30rem"
                                 th:src="${article.getAvatar().getImageUrl()}" alt="">
                        </a>
                    </div>
                    <div class="p-2">
                        <a class="h5 text-decoration-none limited-span-2-line" style="height: 3rem;"
                           th:href="|/blog/show/${article.getId()}|" th:text="${article.getTitle()}">Blog title</a>
                        <div class="d-flex mt-2 ">
                            <p class="card-text limited-span-2-line" th:text="${article.getShortDescription()}">Blog
                                short description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->

    <!-- Offer Start -->
    <div class="container pt-5 pb-3">
        <div class="row px-xl-5">
            <div class="col-md-6" th:each="cover, index : ${subCoverList}">
                <div class="product-offer mb-30" style="height: 20rem;">
                    <img class="img-fluid" th:src="${cover.getImage()?.getImageUrl()}" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase" th:text="${cover.getDescription()}">Cover Description</h6>
                        <h3 class="text-white mb-3" th:text="${cover.getTitle()}">Cover Title</h3>
                        <a th:href="${cover.getTargetLink()}" class="btn btn-info">Xem Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-info back-to-top">TOP&nbsp;<i class="fa fa-angle-double-up"></i></a>

    <!-- Footer-->
    <div th:replace="~{user/layout/footer::footer}"></div>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</div>
</body>
</html>
