<!DOCTYPE html>
<html lang="en" th:with="title=${'Blog chia sẻ'}" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/user/layout/header::header}"></head>
<body>
<!-- Responsive navbar-->
<nav th:replace="~{/user/layout/navbar::navbar}"></nav>
<!-- Page Content-->
<div class=" container pb-3">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid mb-4 mb-lg-0"
                 th:src="${mainArticle.getAvatar().getImageUrl()}"
                 alt="..."/></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">
                <a class="text-decoration-none text-dark limited-span-2-line"
                   th:text="${mainArticle.getTitle()}"
                   th:href="|blog/show/${mainArticle.getId()}|"></a>
            </h1>
            <p class="limited-span-10-line" th:text="${mainArticle.getShortDescription()}"></p>
            <a class="btn btn-info" th:href="|blog/show/${mainArticle.getId()}|">Đọc thêm</a>
        </div>
    </div>
</div>
<!-- Blog Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span
            class="bg-secondary pr-3">Blog</span>
    </h2>
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" th:each="article : ${articleList}">
            <div class="product-item bg-light mb-4">
                <div class="position-relative overflow-hidden">
                    <a th:href="|blog/show/${article.getId()}|">
                        <img class="img-fluid w-100"
                             th:src="${article.getAvatar().getImageUrl()}"
                             alt="">
                    </a>
                </div>
                <div class="text-center py-4">
                    <a class="h5 text-decoration-none limited-span-2-line"
                       th:href="|blog/show/${article.getId()}|"
                       th:text="${article.getTitle()}">Blog title</a>
                    <div class="d-flex align-items-center justify-content-center mt-2 ">
                        <p class="card-text limited-span-2-line" th:text="${article.getShortDescription()}">Blog
                            short
                            description</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <a class="btn btn-info btn-sm mt-2" th:href="|blog/show/${article.getId()}|">Đọc thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
<!-- Back to Top -->
<a href="#" class="btn btn-info back-to-top">TOP&nbsp;<i class="fa fa-angle-double-up"></i></a>

<!-- Footer-->
<div th:replace="~{user/layout/footer::footer}"></div>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<!-- Custom Javascript -->
<script src="/js/customJs.js"></script>
</body>
</html>
