<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/user/layout/header::header}"></head>
<body>
<!-- Responsive navbar-->
<nav th:replace="~{/user/layout/navbar::navbar}"></nav>
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="${article.getTitle()}"></h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2" th:text="${article.getAuthor()}"></div>
                    <!-- Post categories-->
                    <a class="badge bg-info text-decoration-none link-light" href="">Blog</a>
                </header>
                <!-- Preview image figure-->
                <h5 class="fw-bolder mb-4 mt-5" th:text="${article.getShortDescription()}"></h5>

                <div th:each="subContent, index : ${article.getSubContentList()}">

                    <figure class="mb-4" th:if="${subContent.getImage() != null}">
                        <img class="img-fluid w-100" th:src="${subContent.getImage().getImageUrl()}" alt="..."/>
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <div class="col-12 mb-3" th:if="${subContent.image != null }">
                            <div class="col-8 font-italic">
                                <span class="small" th:text="${subContent.image?.description}"></span>
                            </div>
                            <div th:if="${subContent.image != null }" class="col-4">
                            </div>
                        </div>
                        <div th:if="${!#strings.isEmpty(subContent.title)}" class="mb-3">
                            <h4 th:text="${subContent.title}"></h4>
                        </div>
                        <div th:if="${!#strings.isEmpty(subContent.subTitle)}" class="mb-3">
                            <h5 th:text="${subContent.subTitle}"></h5>
                        </div>
                        <p class="fs-5 mb-4 text-justify" th:text="${subContent.getContent1()}"></p>
                        <p class="fs-5 mb-4 text-justify" th:text="${subContent.getContent2()}"></p>
                        <p class="fs-5 mb-4 text-justify" th:text="${subContent.getContent3()}"></p>
                    </section>
                </div>
            </article>
            <h6 class="fw-bolder mb-4 mt-5 mb-5" th:text="${article.getNote()}"></h6>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Related article list-->
            <div class="card mb-4">
                <div class="card-header">Các bài viết liên quan</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 align-items-center " th:each="article : ${relatedList}">
                            <ul class="list-unstyled mb-0 ">
                                <li>
                                    <div class="align-items-center px-2">
                                        <div class="col-12">
                                            <a th:href="|/blog/show/${article.getId()}|">
                                                <img class="w-100 h-100"
                                                     th:src="${article.getAvatar().getImageUrl()}"
                                                     alt=""></a>
                                            <a th:href="|/blog/show/${article.getId()}|"
                                               class="text-decoration-none text-dark limited-span-2-line mt-2">
                                                <h5 class="card-title" th:text="${article.getTitle()}"></h5>
                                            </a>
                                            <p class="card-text limited-span-3-line"
                                               th:text="${article.getShortDescription()}"></p>
                                        </div>
                                        <div class="m-3"><a class="btn btn-info btn-sm"
                                                            th:href="|/blog/show/${article.getId()}|">Đọc thêm</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer th:replace="~{/user/layout/footer::footer}">
</footer>
</body>
</html>
