<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/user/layout/header::header}"></head>
<body>
<div th:insert="~{/user/layout/navbar::navbar}"></div>
<br/><br/><br/>
<div class="container mb-5">
    <div class="row col-md-8 offset-md-2">
        <div class="card p-0">
            <div class="card-header">
                <h2 class="text-center">Liên Hệ Chúng tôi</h2>
            </div>
            <div class="card-body">
                <form method="post" role="form" th:object="${inquiry}" th:action="@{/inquiry/create}">
                    <div class="form-group mb-3">
                        <label class="form-label">Họ và Tên</label>
                        <input class="form-control" placeholder="Họ và Tên" th:field="*{customerName}" type="text"/>
                        <p th:errors="*{customerName}" class="text-danger"
                           th:if="${#fields.hasErrors('customerName')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="0" th:field="*{customerGender}"
                                   id="male">
                            <label class="form-check-label" for="male">
                                Nam
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="1" th:field="*{customerGender}" checked
                                   id="female">
                            <label class="form-check-label" for="female">
                                Nữ
                            </label>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Số điện thoại</label>
                        <input class="form-control" placeholder="Nhập số điện thoại" th:field="*{customerPhoneNumber}"
                               type="text"/>
                        <p th:errors="*{customerPhoneNumber}" class="text-danger"
                           th:if="${#fields.hasErrors('customerPhoneNumber')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control" placeholder="Nhập email" th:field="*{customerEmail}"
                               type="email"/>
                        <p th:errors="*{customerEmail}" class="text-danger"
                           th:if="${#fields.hasErrors('customerEmail')}"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label"> Địa chỉ</label>
                        <input class="form-control"
                               placeholder="nhập địa chỉ nhận hàng" th:field="*{customerAddress}" type="text"/>
                        <p th:errors="*{customerAddress}" class="text-danger"
                           th:if="${#fields.hasErrors('customerAddress')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Tuổi</label>
                        <input class="form-control" placeholder="Tuổi" th:field="*{customerAge}" type="text"/>
                        <p th:errors="*{customerAge}" class="text-danger"
                           th:if="${#fields.hasErrors('customerAge')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Nội dung hỏi đáp</label>
                        <textarea class="form-control" placeholder="Ghi chú thêm cho cửa hàng" th:field="*{content}">

                        </textarea>
                        <p th:errors="*{content}" class="text-danger"
                           th:if="${#fields.hasErrors('content')}"></p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Ghi chú</label>
                        <textarea class="form-control" placeholder="Ghi chú thêm cho cửa hàng" th:field="*{note}">
                        </textarea>
                        <p th:errors="*{note}" class="text-danger"
                           th:if="${#fields.hasErrors('note')}"></p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Gửi câu hỏi</button>
                        <a href="/" class="btn btn-danger" type="button"> Hủy Bỏ </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Back to Top -->
<a href="#" class="btn btn-info back-to-top">TOP&nbsp;<i class="fa fa-angle-double-up"></i></a>

<!-- Footer-->
<div class="container">
    <div th:replace="~{user/layout/footer::footer}"></div>
</div>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<!-- Custom Javascript -->
<script src="/js/customJs.js"></script>

</body>
</html>