<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/user/layout/header::header}"></head>
<body>
<nav th:replace="~{/user/layout/navbar::navbar}"></nav>

<div class="container" style="min-height: 50vh;">
    <div class="px-xl-5">
        <h2 class="px-3 mb-4">🛒 Giỏ hàng của bạn</h2>
        <div class="row px-3" th:if="${cart.getCartItems().size() == 0}">
            <div class="col-lg-12">
                <div class="lona-card">
                    <div class="text-center">
                        Không có sản phẩm nào trong giỏ hàng của bạn! Quay lại <a href="/">Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-3" th:if="${cart.getCartItems().size() != 0}">
            <div class="col-lg-8">
                <div class="lona-card" id="myCart">
                    <div class="lona-cart-item row align-items-center border-bottom py-3"
                         th:each="cartItem : ${cart.getCartItems()}">

                        <!-- Ảnh sản phẩm -->
                        <div class="col-12 col-md-auto text-center">
                            <img th:src="${cartItem.getProduct.getAvatar().getImageUrl()}" alt="Sản phẩm">
                        </div>

                        <!-- Thông tin sản phẩm -->
                        <div class="col-12 col-md flex-grow-1">
                            <a th:href="'/product/show/'+${cartItem.getProduct().getId()}">
                                <h5 class="mb-1" th:text="${cartItem.getProduct().getName()}">Product Name</h5>
                            </a>
                            <p class="text-muted">
                                Giá: <span class="price" th:data-price="${cartItem.getPriceAtTime()}"
                                           th:text="${#numbers.formatInteger(cartItem.getPriceAtTime(), 3, 'COMMA')}">0</span>đ
                            </p>
                        </div>
                        <!-- Số lượng và tổng tiền -->
                        <div class="col-4 col-md-auto text-center">
                            <input th:value="${cartItem.getQuantity()}" type="number" class="form-control quantity"
                                   value="1" min="1" style="width: 70px;">
                        </div>

                        <div class="col-4 col-md-auto text-center">
                            <span class="total-price"
                                th:text="${#numbers.formatInteger(cartItem.getSubAmount(), 3, 'COMMA')}">0</span>đ
                        </div>

                        <!-- Nút xóa -->
                        <div class="col-4 col-md-auto text-center mt-md-0">
                            <input hidden="hidden" th:value="${cartItem.getId()}" name="cartItemId">
                            <button class="btn btn-danger btn-sm remove-item">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Phần tổng kết đơn hàng -->
            <div class="col-lg-4">
                <div class="lona-card">
                    <h4 class="mb-3">Tóm tắt đơn hàng</h4>
                    <p class="lona-cart-total">Tổng tiền:
                        <span id="cartTotalAmount"
                              th:text="${#numbers.formatInteger(cart.getTotalAmount(), 3, 'COMMA')}">0</span>
                        đ</p>
                    <a class="btn btn-primary w-100" href="/order/new">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Back to Top -->
<a href="#" class="btn btn-info back-to-top">TOP&nbsp;<i class="fa fa-angle-double-up"></i></a>

<!-- Footer-->
<div class="container">
    <div th:replace="~{user/layout/footer::footer}"></div>
</div>
<meta hidden="hidden" name="_csrf" th:content="${_csrf.token}"/>
<meta hidden="hidden" name="_csrf_header" th:content="${_csrf.headerName}"/>

<script src="/js/cart.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
