<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{/user/layout/header::header}">
</head>
<body>
<nav th:replace="~{/user/layout/navbar::navbar}"></nav>
<br/>
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-12">
            <div class="py-5 bg-light d-flex flex-wrap justify-content-center">
                <div class="col-lg-8 col-md-10 col-12">
                    <div class="row">
                        <div class="col-12 col-form-label fw-bolder">
                            <h3 class="section-title position-relative text-uppercase  mb-4 d-flex justify-content-center">
                                <span>Thông tin đơn hàng</span>
                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-form-label fw-bolder">Sản phẩm:</div>
                        <div class="col-8">
                            <span th:text="${order.getProduct().getName()}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-form-label fw-bolder">Đơn giá:</div>
                        <div class="col-8">
                            <span th:text="${#numbers.formatInteger(order.getProduct().getCurrentPrice(), 3, 'COMMA')}"></span>
                            <span>&nbsp;VNĐ</span>
                            <span th:text="${order.getProduct().getUnit()}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-form-label fw-bolder">Số lượng:</div>
                        <div class="col-8">
                            <span th:text="${order.getQuantity()}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-form-label fw-bolder">Tổng tiền:</div>
                        <div class="col-8">
                            <span th:text="${#numbers.formatInteger(order.getTotalAmount(), 3, 'COMMA')}"></span>
                            <span>&nbsp;VNĐ</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-form-label fw-bolder">Mã đơn hàng:</div>
                        <div class="col-8 fw-bolder text-danger">
                            <span th:text="${order.getOrderCode()}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-form-label fw-bolder">Người nhận:</div>
                        <div class="col-8">
                            <span th:text="${order.getCustomerName()}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-form-label fw-bolder">SĐT:</div>
                        <div class="col-8">
                            <span th:text="${order.getCustomerPhoneNumber()}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-form-label fw-bolder">Địa chỉ:</div>
                        <div class="col-8">
                            <span th:text="${order.getCustomerAddress()}"></span>
                        </div>
                    </div>
                </div>
                <div th:if="${order.getPaymentType() == 3 && order.getStatus() != 5 && order.getStatus() != 6 || order.getPaymentStatus() == 2}"
                     class="col-lg-8 col-md-10 col-12">
                    <div class="alert alert-success">
                        <p class="fw-bold">Đặt hàng thành công! shop có thể sẽ liên hệ tới bạn để xác nhận đơn hàng!</p>
                        <p class="fw-bold footer-text">Cảm ơn bạn đã tin tưởng sử dụng dịch vụ của chúng tôi!</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a type="button" class="btn btn-info flex-shrink-0" href="/trang-chu">
                            <i class="fa-solid fa-house"></i>
                            &nbsp;Quay lại trang chủ
                        </a>
                    </div>
                </div>
                <div th:if="${order.getStatus() == 5 || order.getStatus() == 6}"
                     class="col-lg-8 col-md-10 col-sm-12">
                    <div class="alert alert-success">
                        <p class="fw-bold">Đơn hàng đã hủy! Bạn vui lòng đặt đơn khác hoặc liên hệ tới chúng tôi</p>
                        <p class="fw-bold footer-text">Cảm ơn bạn đã tin tưởng sử dụng dịch vụ của chúng tôi!</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a type="button" class="btn btn-info flex-shrink-0" href="/trang-chu">
                            <i class="fa-solid fa-house"></i>
                            &nbsp;Quay lại trang chủ
                        </a>
                    </div>
                </div>
                <div th:if="${order.getPaymentType() != 3 && order.getStatus() != 5 && order.getStatus() != 6 && order.getPaymentStatus() != 2}"
                     class="col-lg-8 col-md-10 col-12">
                    <h3 class="section-title position-relative text-uppercase my-4 d-flex justify-content-center">
                        <span>Thông tin thanh toán</span>
                    </h3>
                    <div class="row">
                        <div class="col-4 col-form-label fw-bolder">Chủ tài khoản:</div>
                        <div class="col-8">
                            Trần Văn A
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-form-label fw-bolder">Số TK:</div>
                        <div class="col-8">
                            123123123123
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-form-label fw-bolder">Ngân hàng:</div>
                        <div class="col-8">
                            NGân hàng nông nghiệp và phát triển nông thôn - AGRIBANK
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-form-label fw-bolder">Chi nhánh:</div>
                        <div class="col-8">
                            Quỳnh Hồng Quỳnh Phụ Thái Bình
                        </div>
                    </div>
                    <div class="text-center">
                        <img src="/img/BANK-QR.jpg" alt="QR Code" class="qr-code">
                    </div>
                    <div class="note my-3">
                        Ghi chú: Bạn vui lòng chuyển khoản với nội dung là mã đơn hàng để chúng tôi có thể xác nhận đơn
                        hàng.
                        <p class="footer-text">
                            Cảm ơn bạn đã tin tưởng sử dụng dịch vụ của chúng tôi!
                        </p>
                    </div>
                    <form method="post" role="form" th:action="@{/order/payment}">
                        <input type="hidden" name="order" th:value="${param.order}">
                        <input type="hidden" name="orderCode" th:value="${param.orderCode}">
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-danger flex-shrink-0 m-1" name="cancel">
                                <i class="fa-solid fa-ban"></i>
                                &nbsp;Hủy đơn hàng
                            </button>
                            <button type="submit" class="btn btn-info flex-shrink-0 m-1" name="confirmPaid">
                                <i class="fa-solid fa-circle-check"></i>
                                &nbsp;Tôi đã thanh toán
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer-->
<div class="container">
    <div th:replace="~{user/layout/footer::footer}"></div>
</div>

</body>
</html>