<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" th:href="@{/trang-chu}">Nước Mắm Hải Hà</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" th:classappend="${(pageMode != '1')&&(pageMode!='2')&&(pageMode!='3')} ? 'active' : ''" aria-current="page" th:href="@{/trang-chu}">Trang
          Chủ</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${pageMode == '1'} ? 'active' : ''" th:href="@{/trang-chu/about}">Giới Thiệu</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${pageMode == '2'} ? 'active' : ''" th:href="@{/blog}">Blog Tâm sự</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${pageMode == '3'} ? 'active' : ''" th:href="@{/inquiry/new}">Liên hệ</a></li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-outline-light" type="button">
          <i class="bi-cart-fill me-1"></i>
          Giỏ Hàng
          <span class="badge bg-light text-dark ms-1 rounded-pill">1</span>
        </button>
      </div>
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active " id="navbarDropdown" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">Tài Khoản</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="nav-item">
                <a class="dropdown-item" th:href="@{/register}">Đăng ký</a>
              </li>
              <li>
                <hr class="dropdown-divider"/>
              </li>
              <li><a class="dropdown-item" th:href="@{/logout}">Đăng Xuất</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>