.limited-span-1-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1; /* Adjust the number of lines you want to display */
}
.limited-span-2-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Adjust the number of lines you want to display */
}
.limited-span-3-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; /* Adjust the number of lines you want to display */
}
.limited-span-10-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 10; /* Adjust the number of lines you want to display */
}

.bottom-controls {
    position: absolute;
    bottom: 10px;
    left: 30px;
    display: flex;
    gap: 10px;
}

.qr-code {
  max-width: 220px;
  margin: 10px auto;
  display: block;
}

.note {
  background-color: #e2f0ff;
  border: 1px solid #b8daff;
  color: #1c3d70;
  padding: 15px;
  text-align: center;
}

.footer-text {
  text-align: center;
  margin-top: 20px;
  color: #777;
  font-size: 0.9rem;
}



.lona-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
}
.lona-cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}
.lona-cart-item {
    transition: 0.3s;
    padding: 15px;
    border-radius: 10px;
}
.lona-cart-item:hover {
    background: rgba(0, 0, 0, 0.05);
}
.btn-danger:hover {
    background: #cc0000;
}
.btn-primary:hover {
    background: #0056b3;
}
.lona-cart-total {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff4d4d;
}
