.limited-span-1-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1; /* Adjust the number of lines you want to display */
}
.limited-span-2-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Adjust the number of lines you want to display */
}
.limited-span-3-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; /* Adjust the number of lines you want to display */
}
.limited-span-10-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 10; /* Adjust the number of lines you want to display */
}
