<!DOCTYPE html>
<html lang="en">
<head th:insert="~{/admin/layout/header::adminHeader}"></head>
<body class="sb-nav-fixed">

<!--  place navBar here-->
<div th:insert="~{admin/layout/navBar::adminNavbar}"></div>
<div id="layoutSidenav">
    <!-- place sidebar here-->
    <div th:insert="~{admin/layout/sideBar::adminSidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container">
                <div class="row col-md-10">
                    <h2>Danh sách ảnh bìa</h2>
                    <span class="right-button m-2 right"><a th:href="@{/admin/cover/new}" class="btn btn-success"> Tạo mới</a></span>
                </div>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th>STT</th>
                        <th>Tiêu đề</th>
                        <th>Mô tả</th>
                        <th>Ảnh</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cover : ${coverList}">
                        <td th:text="${cover.id}"></td>
                        <td th:text="${cover.title}"></td>
                        <td th:text="${cover.description}"></td>
                        <td>
                            <div th:each="image: ${cover.getImages()}">
                                <img th:src="${image.getImageUrl()}" style="height: 100px" class="p-2">
                            </div>
                        </td>
                        <td><a th:onclick="|deleteCover(${cover.id})|" class="btn btn-outline-danger m-1">Xóa</a>
                            <a th:if="${cover.status == 0}" th:onclick="|enableCover(${cover.id})|"
                               class="btn btn-outline-primary m-1">Bật</a>
                            <a th:if="${cover.status == 1}" th:onclick="|disableCover(${cover.id})|"
                               class="btn btn-outline-warning m-1">Tắt</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <!--  footer here-->
        <div th:insert="~{admin/layout/footer::adminFooter}"></div>
    </div>
</div>
<div th:insert="~{admin/layout/scriptSource::scriptSource}"></div>

<form id="actionForm" method="post"></form>

<script>
    function deleteCover(id) {
        let form = document.getElementById('actionForm');
        let action = "/admin/cover/delete/" + id;
        form.setAttribute('action', action);

        let input = document.createElement("input")
        input.setAttribute("name", "id")
        input.setAttribute("value", id)

        form.appendChild(input)

        form.submit();
    }

    function disableCover(id) {
        let form = document.getElementById('actionForm');
        let action = "/admin/cover/disable/" + id;
        form.setAttribute('action', action);

        let input = document.createElement("input")
        input.setAttribute("name", "id")
        input.setAttribute("value", id)

        form.appendChild(input)

        form.submit();
    }

    function enableCover(id) {
        let form = document.getElementById('actionForm');
        let action = "/admin/cover/enable/" + id;
        form.setAttribute('action', action);

        let input = document.createElement("input")
        input.setAttribute("name", "id")
        input.setAttribute("value", id)

        form.appendChild(input)

        form.submit();
    }
</script>
</body>
</html>
