<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{/admin/layout/header::adminHeader}"></head>
<body class="sb-nav-fixed">

<!--  place navBar here-->
<div th:insert="~{admin/layout/navBar::adminNavbar}"></div>
<div id="layoutSidenav">
    <!-- place sidebar here-->
    <div th:insert="~{admin/layout/sideBar::adminSidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h2>Danh sách ảnh bìa</h2>
                    </div>
                    <div class="col-6">
                        <span class="right-button m-2 d-flex justify-content-end"><a th:href="@{/admin/cover/new}"
                                                                                     class="btn btn-success"> Tạo mới</a></span>
                    </div>
                    <div class="row m-2 col-12">
                        <div class="col-6"></div>
                        <div class="col-2"><span class="font-weight-bold">Tổng:&nbsp;</span><span
                                th:text="${coverList.size()}"></span></div>
                        <div class="col-2"><span class="font-weight-bold">Số lượng ảnh bìa chính:&nbsp;</span><span
                                th:text="${totalMainCoverNum}"></span></div>
                        <div class="col-2"><span class="font-weight-bold">Số lượng ảnh bìa phụ:&nbsp;</span><span
                                th:text="${totalSubCoverNum}"></span></div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th>STT</th>
                        <th>Tiêu đề</th>
                        <th>Mô tả</th>
                        <th>Ảnh</th>
                        <th>Trạng thái</th>
                        <th>Tùy chọn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cover : ${coverList}">
                        <td th:text="${cover.id}"></td>
                        <td th:text="${cover.title}"></td>
                        <td th:text="${cover.description}"></td>
                        <td>
                            <img th:src="${cover.getImage()?.getImageUrl()}" style="height: 100px" class="p-2">
                        </td>
                        <td>
                            <button th:if="${cover.status == 0}" disabled
                                    class="btn btn-outline-warning">Disable
                            </button>
                            <button th:if="${cover.status == 1 }" disabled
                                    class="btn btn-outline-primary">Ảnh bìa phụ
                            </button>
                            <button th:if="${cover.status == 2 }" disabled
                                    class="btn btn-outline-success">Ảnh bìa chính
                            </button>
                        </td>
                        <td><a th:onclick="|deleteCover(${cover.id})|" class="btn btn-danger m-1">Delete</a>
                            <a th:if="${cover.status == 1 || cover.status == 2}"
                               th:onclick="|disableCover(${cover.id})|"
                               class="btn btn-outline-warning m-1">Disable</a>
                            <a th:if="${cover.status != 1 }" th:onclick="|setToSubCover(${cover.id})|"
                               class="btn btn-outline-primary m-1">Cài làm ảnh bìa phụ</a>
                            <a th:if="${cover.status != 2 }" th:onclick="|setToMainCover(${cover.id})|"
                               class="btn btn-outline-success m-1">Cài làm ảnh bìa chính</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <!--  footer here-->
        <div th:insert="~{admin/layout/footer::adminFooter}"></div>
    </div>
</div>
<div th:insert="~{admin/layout/scriptSource::scriptSource}"></div>

<form id="actionForm" th:method="post" th:action="@{/}">
<!--    <input type="hidden"-->
<!--           th:name="${_csrf.parameterName}"-->
<!--           th:value="${_csrf.token}" />-->
</form>

<script>
    function setToMainCover(id) {
        let form = document.getElementById('actionForm');
        let action = "/admin/cover/setMainCover/" + id;
        form.setAttribute('action', action);
        form.submit();
    }
    function setToSubCover(id) {
        let form = document.getElementById('actionForm');
        let action = "/admin/cover/setSubCover/" + id;
        form.setAttribute('action', action);
        form.submit();
    }

    function deleteCover(id) {
        if (confirm("Bạn có thực sự muốn xóa?")) {
            let form = document.getElementById('actionForm');
            let action = "/admin/cover/delete/" + id;
            form.setAttribute('action', action);
            form.submit();
        }
    }

    function disableCover(id) {
        let form = document.getElementById('actionForm');
        let action = "/admin/cover/disable/" + id;
        form.setAttribute('action', action);
        form.submit();
    }







</script>
</body>
</html>
