<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{/admin/layout/header::adminHeader}"></head>
<body class="sb-nav-fixed">

<!--  place navBar here-->
<div th:insert="~{admin/layout/navBar::adminNavbar}"></div>
<div id="layoutSidenav">
    <!-- place sidebar here-->
    <div th:insert="~{admin/layout/sideBar::adminSidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Ảnh bìa website</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Cài đặt ảnh bìa</li>
                </ol>

                <form class="row g-3" method="post"
                      role="form" th:method="post" th:action="@{/admin/cover}" th:object="${cover}"
                      enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="form-label">Tiêu đề </label>
                        <input type="text" th:field="*{title}" class="form-control" id="name"
                               placeholder="Ví dụ: Nước mắm...">
                        <p th:if="${#fields.hasErrors('title')}" th:errorclass="text-danger" th:errors="*{title}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Mô tả chi tiết</label>
                        <textarea class="form-control" id="description" th:field="*{description}" rows="3"></textarea>
                        <p th:if="${#fields.hasErrors('description')}" th:errorclass="text-danger"
                           th:errors="*{description}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="targetLink" class="form-label">Link </label>
                        <textarea class="form-control" id="targetLink" th:field="*{targetLink}" rows="3"></textarea>
                        <p th:if="${#fields.hasErrors('targetLink')}" th:errorclass="text-danger"
                           th:errors="*{targetLink}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="note" class="form-label">Ghi Chú</label>
                        <textarea class="form-control" id="note" th:field="*{note}" rows="3"></textarea>
                        <p th:if="${#fields.hasErrors('note')}" th:errorclass="text-danger" th:errors="*{note}"></p>
                    </div>
                    <div class="mb-3">
                        <label for="imageFile" class="form-label">Chọn ảnh cho Website</label>
                        <input class="form-control" type="file" id="imageFile" name="imageFile" accept="image/*">
                        <p th:if="${#fields.hasErrors('image')}" th:errorclass="text-danger" th:errors="*{image}"></p>
                    </div>

                    <div class="col-auto">
                        <input type="submit" class="btn btn-primary mb-3" name="create" value="Tạo mới">
                        <input type="submit" class="btn btn-danger mb-3" name="cancel" value="Cancel">
                    </div>
                </form>
            </div>
        </main>
        <!--  footer here-->
        <div th:insert="~{admin/layout/footer::adminFooter}"></div>
    </div>
</div>
<div th:insert="~{ admin/layout/scriptSource::scriptSource}"></div>
</body>
</html>

